extends layout

block content 
	div#wrapper
		header#mainheader
			h1 Meet Backbone.js
		section#mainarticle
			div#filmsapp
		footer#mainfooter Sample application for Backbone.js Workshop at Betabeers Córdoba #BBODB (October 18th 2012). You are free to modify and distribute this sample app.
