button {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	border: 0;
	background: url(./appbar.delete.png);
	background-size: 30px;
	height: 30px;
	width: 30px;
}

label {
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
}
